[submodule "ran"]
	path = ran
	url = ssh://g.transcendent.ink/psh-prng
	branch = switch
[submodule "math"]
	path = math
	url = ssh://g.transcendent.ink/psh-fractional
	branch = switch
[submodule "fc"]
        path = fc
	url = ssh://g.transcendent.ink/psh-fc
        branch = switch
